dso/build/cmake_install.cmake
dso/build/CMakeCache.txt
dso/build/Makefile
dso/build/CMakeFiles/cmake.check_cache
dso/build/CMakeFiles/CMakeDirectoryInformation.cmake
dso/build/CMakeFiles/CMakeError.log
dso/build/CMakeFiles/CMakeOutput.log
dso/build/CMakeFiles/Makefile.cmake
dso/build/CMakeFiles/Makefile2
dso/build/CMakeFiles/progress.marks
dso/build/CMakeFiles/TargetDirectories.txt
dso/build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
dso/build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
dso/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
dso/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
dso/build/CMakeFiles/3.16.3/CMakeSystem.cmake
dso/build/CMakeFiles/3.16.3/CompilerIdC/a.out
dso/build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
dso/build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
dso/build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
dso/build/CMakeFiles/dso.dir/build.make
dso/build/CMakeFiles/dso.dir/cmake_clean_target.cmake
dso/build/CMakeFiles/dso.dir/cmake_clean.cmake
dso/build/CMakeFiles/dso.dir/CXX.includecache
dso/build/CMakeFiles/dso.dir/depend.internal
dso/build/CMakeFiles/dso.dir/depend.make
dso/build/CMakeFiles/dso.dir/DependInfo.cmake
dso/build/CMakeFiles/dso.dir/flags.make
dso/build/CMakeFiles/dso.dir/link.txt
dso/build/CMakeFiles/dso.dir/progress.make
dso/build/CMakeFiles/dso.dir/src/FullSystem/CoarseInitializer.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/CoarseTracker.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/FullSystem.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/FullSystemDebugStuff.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/FullSystemMarginalize.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/FullSystemOptimize.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/FullSystemOptPoint.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/HessianBlocks.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/ImmaturePoint.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/PixelSelector2.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/Residuals.cpp.o
dso/build/CMakeFiles/dso.dir/src/IOWrapper/OpenCV/ImageDisplay_OpenCV.cpp.o
dso/build/CMakeFiles/dso.dir/src/IOWrapper/OpenCV/ImageRW_OpenCV.cpp.o
dso/build/CMakeFiles/dso.dir/src/IOWrapper/Pangolin/KeyFrameDisplay.cpp.o
dso/build/CMakeFiles/dso.dir/src/IOWrapper/Pangolin/PangolinDSOViewer.cpp.o
dso/build/CMakeFiles/dso.dir/src/OptimizationBackend/AccumulatedSCHessian.cpp.o
dso/build/CMakeFiles/dso.dir/src/OptimizationBackend/AccumulatedTopHessian.cpp.o
dso/build/CMakeFiles/dso.dir/src/OptimizationBackend/EnergyFunctional.cpp.o
dso/build/CMakeFiles/dso.dir/src/OptimizationBackend/EnergyFunctionalStructs.cpp.o
dso/build/CMakeFiles/dso.dir/src/util/globalCalib.cpp.o
dso/build/CMakeFiles/dso.dir/src/util/settings.cpp.o
dso/build/CMakeFiles/dso.dir/src/util/Undistort.cpp.o
dso/build/CMakeFiles/dso_dataset.dir/build.make
dso/build/CMakeFiles/dso_dataset.dir/cmake_clean.cmake
dso/build/CMakeFiles/dso_dataset.dir/CXX.includecache
dso/build/CMakeFiles/dso_dataset.dir/depend.internal
dso/build/CMakeFiles/dso_dataset.dir/depend.make
dso/build/CMakeFiles/dso_dataset.dir/DependInfo.cmake
dso/build/CMakeFiles/dso_dataset.dir/flags.make
dso/build/CMakeFiles/dso_dataset.dir/link.txt
dso/build/CMakeFiles/dso_dataset.dir/progress.make
dso/build/CMakeFiles/dso_dataset.dir/src/main_dso_pangolin.cpp.o
dso/build/bin/dso_dataset
dso/build/lib/libdso.a
build/CMakeCache.txt
build/.cmake/api/v1/query/client-vscode/query.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/a.out
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
