dso/build/cmake_install.cmake
dso/build/CMakeCache.txt
dso/build/Makefile
dso/build/CMakeFiles/cmake.check_cache
dso/build/CMakeFiles/CMakeDirectoryInformation.cmake
dso/build/CMakeFiles/CMakeError.log
dso/build/CMakeFiles/CMakeOutput.log
dso/build/CMakeFiles/Makefile.cmake
dso/build/CMakeFiles/Makefile2
dso/build/CMakeFiles/progress.marks
dso/build/CMakeFiles/TargetDirectories.txt
dso/build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
dso/build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
dso/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
dso/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
dso/build/CMakeFiles/3.16.3/CMakeSystem.cmake
dso/build/CMakeFiles/3.16.3/CompilerIdC/a.out
dso/build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
dso/build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
dso/build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
dso/build/CMakeFiles/dso.dir/build.make
dso/build/CMakeFiles/dso.dir/cmake_clean_target.cmake
dso/build/CMakeFiles/dso.dir/cmake_clean.cmake
dso/build/CMakeFiles/dso.dir/CXX.includecache
dso/build/CMakeFiles/dso.dir/depend.internal
dso/build/CMakeFiles/dso.dir/depend.make
dso/build/CMakeFiles/dso.dir/DependInfo.cmake
dso/build/CMakeFiles/dso.dir/flags.make
dso/build/CMakeFiles/dso.dir/link.txt
dso/build/CMakeFiles/dso.dir/progress.make
dso/build/CMakeFiles/dso.dir/src/FullSystem/CoarseInitializer.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/CoarseTracker.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/FullSystem.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/FullSystemDebugStuff.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/FullSystemMarginalize.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/FullSystemOptimize.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/FullSystemOptPoint.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/HessianBlocks.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/ImmaturePoint.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/PixelSelector2.cpp.o
dso/build/CMakeFiles/dso.dir/src/FullSystem/Residuals.cpp.o
dso/build/CMakeFiles/dso.dir/src/IOWrapper/OpenCV/ImageDisplay_OpenCV.cpp.o
dso/build/CMakeFiles/dso.dir/src/IOWrapper/OpenCV/ImageRW_OpenCV.cpp.o
dso/build/CMakeFiles/dso.dir/src/IOWrapper/Pangolin/KeyFrameDisplay.cpp.o
dso/build/CMakeFiles/dso.dir/src/IOWrapper/Pangolin/PangolinDSOViewer.cpp.o
dso/build/CMakeFiles/dso.dir/src/OptimizationBackend/AccumulatedSCHessian.cpp.o
dso/build/CMakeFiles/dso.dir/src/OptimizationBackend/AccumulatedTopHessian.cpp.o
dso/build/CMakeFiles/dso.dir/src/OptimizationBackend/EnergyFunctional.cpp.o
dso/build/CMakeFiles/dso.dir/src/OptimizationBackend/EnergyFunctionalStructs.cpp.o
dso/build/CMakeFiles/dso.dir/src/util/globalCalib.cpp.o
dso/build/CMakeFiles/dso.dir/src/util/settings.cpp.o
dso/build/CMakeFiles/dso.dir/src/util/Undistort.cpp.o
dso/build/CMakeFiles/dso_dataset.dir/build.make
dso/build/CMakeFiles/dso_dataset.dir/cmake_clean.cmake
dso/build/CMakeFiles/dso_dataset.dir/CXX.includecache
dso/build/CMakeFiles/dso_dataset.dir/depend.internal
dso/build/CMakeFiles/dso_dataset.dir/depend.make
dso/build/CMakeFiles/dso_dataset.dir/DependInfo.cmake
dso/build/CMakeFiles/dso_dataset.dir/flags.make
dso/build/CMakeFiles/dso_dataset.dir/link.txt
dso/build/CMakeFiles/dso_dataset.dir/progress.make
dso/build/CMakeFiles/dso_dataset.dir/src/main_dso_pangolin.cpp.o
dso/build/bin/dso_dataset
dso/build/lib/libdso.a
build/CMakeCache.txt
build/.cmake/api/v1/query/client-vscode/query.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/a.out
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CATKIN_IGNORE
build/CTestConfiguration.ini
build/CTestCustom.cmake
build/CMakeFiles/CMakeError.log
build/atomic_configure/_setup_util.py
build/atomic_configure/.rosinstall
build/atomic_configure/env.sh
build/atomic_configure/local_setup.bash
build/atomic_configure/local_setup.sh
build/atomic_configure/local_setup.zsh
build/atomic_configure/setup.bash
build/atomic_configure/setup.sh
build/atomic_configure/setup.zsh
build/catkin/catkin_generated/version/package.cmake
build/catkin_generated/env_cached.sh
build/catkin_generated/generate_cached_setup.py
build/catkin_generated/order_packages.cmake
build/catkin_generated/order_packages.py
build/catkin_generated/setup_cached.sh
build/catkin_generated/installspace/_setup_util.py
build/catkin_generated/installspace/.rosinstall
build/catkin_generated/installspace/env.sh
build/catkin_generated/installspace/local_setup.bash
build/catkin_generated/installspace/local_setup.sh
build/catkin_generated/installspace/local_setup.zsh
build/catkin_generated/installspace/setup.bash
build/catkin_generated/installspace/setup.sh
build/catkin_generated/installspace/setup.zsh
build/catkin_generated/stamps/Project/_setup_util.py.stamp
build/catkin_generated/stamps/Project/interrogate_setup_dot_py.py.stamp
build/catkin_generated/stamps/Project/order_packages.cmake.em.stamp
build/catkin_generated/stamps/Project/package.xml.stamp
build/devel/_setup_util.py
build/devel/.catkin
build/devel/.rosinstall
build/devel/cmake.lock
build/devel/env.sh
build/devel/local_setup.bash
build/devel/local_setup.sh
build/devel/local_setup.zsh
build/devel/setup.bash
build/devel/setup.sh
build/devel/setup.zsh
build/devel/lib/pkgconfig/dso_ros.pc
build/devel/lib/pkgconfig/unimvsnet.pc
build/devel/lib/python3/dist-packages/dso_ros/__init__.py
build/devel/lib/python3/dist-packages/unimvsnet/__init__.py
build/devel/share/dso_ros/cmake/dso_ros-msg-extras.cmake
build/devel/share/dso_ros/cmake/dso_ros-msg-paths.cmake
build/devel/share/dso_ros/cmake/dso_rosConfig-version.cmake
build/devel/share/dso_ros/cmake/dso_rosConfig.cmake
build/devel/share/unimvsnet/cmake/unimvsnet-msg-extras.cmake
build/devel/share/unimvsnet/cmake/unimvsnet-msg-paths.cmake
build/devel/share/unimvsnet/cmake/unimvsnetConfig-version.cmake
build/devel/share/unimvsnet/cmake/unimvsnetConfig.cmake
build/dso_ros/catkin_generated/dso_ros-msg-extras.cmake.develspace.in
build/dso_ros/catkin_generated/dso_ros-msg-extras.cmake.installspace.in
build/dso_ros/catkin_generated/ordered_paths.cmake
build/dso_ros/catkin_generated/package.cmake
build/dso_ros/catkin_generated/pkg.develspace.context.pc.py
build/dso_ros/catkin_generated/pkg.installspace.context.pc.py
build/dso_ros/catkin_generated/installspace/dso_ros-msg-extras.cmake
build/dso_ros/catkin_generated/installspace/dso_ros-msg-paths.cmake
build/dso_ros/catkin_generated/installspace/dso_ros.pc
build/dso_ros/catkin_generated/installspace/dso_rosConfig-version.cmake
build/dso_ros/catkin_generated/installspace/dso_rosConfig.cmake
build/dso_ros/catkin_generated/stamps/dso_ros/package.xml.stamp
build/dso_ros/catkin_generated/stamps/dso_ros/pkg-genmsg.cmake.em.stamp
build/dso_ros/catkin_generated/stamps/dso_ros/pkg.pc.em.stamp
build/dso_ros/cmake/dso_ros-genmsg-context.py
build/dso_ros/cmake/dso_ros-genmsg.cmake
build/unimvsnet/catkin_generated/ordered_paths.cmake
build/unimvsnet/catkin_generated/package.cmake
build/unimvsnet/catkin_generated/pkg.develspace.context.pc.py
build/unimvsnet/catkin_generated/pkg.installspace.context.pc.py
build/unimvsnet/catkin_generated/unimvsnet-msg-extras.cmake.develspace.in
build/unimvsnet/catkin_generated/unimvsnet-msg-extras.cmake.installspace.in
build/unimvsnet/catkin_generated/installspace/unimvsnet-msg-extras.cmake
build/unimvsnet/catkin_generated/installspace/unimvsnet-msg-paths.cmake
build/unimvsnet/catkin_generated/installspace/unimvsnet.pc
build/unimvsnet/catkin_generated/installspace/unimvsnetConfig-version.cmake
build/unimvsnet/catkin_generated/installspace/unimvsnetConfig.cmake
build/unimvsnet/catkin_generated/stamps/unimvsnet/package.xml.stamp
build/unimvsnet/catkin_generated/stamps/unimvsnet/pkg-genmsg.cmake.em.stamp
build/unimvsnet/catkin_generated/stamps/unimvsnet/pkg.pc.em.stamp
build/unimvsnet/cmake/unimvsnet-genmsg-context.py
build/unimvsnet/cmake/unimvsnet-genmsg.cmake
dso/build/bin/camera.txt
dso/build/bin/result.txt
dso/build/bin/logs/calibLog.txt
dso/build/bin/logs/coarseTrackingLog.txt
dso/build/bin/logs/diagonal.txt
dso/build/bin/logs/eigenAllLog.txt
dso/build/bin/logs/eigenALog.txt
dso/build/bin/logs/eigenPLog.txt
dso/build/bin/logs/nullspacesLog.txt
dso/build/bin/logs/numsLog.txt
dso/build/bin/logs/variancesLog.txt
dso/build/.cmake/api/v1/query/client-vscode/query.json
dso/build/.cmake/api/v1/reply/cache-v2-9f851494cfbe227cf2d4.json
dso/build/.cmake/api/v1/reply/cmakeFiles-v1-21a18f78988fff652f18.json
dso/build/.cmake/api/v1/reply/codemodel-v2-c13a21b97d4cdb988957.json
dso/build/.cmake/api/v1/reply/index-2023-09-16T21-46-18-0616.json
dso/build/.cmake/api/v1/reply/target-dso_dataset-735343e77e1a5023c5d8.json
dso/build/.cmake/api/v1/reply/target-dso-94c46e2d80fe9dbce986.json
dso/build/bin/logs/time.txt
dso/CMakeLists.txt
